[Desktop Entry]
Name=Kleaner
Comment=Image Metadata Cleaner
Version=1.0
Exec=kleaner
Icon=com.github.najepaliya.kleaner
Type=Application
Terminal=false
Categories=Qt;KDE;